{% extends 'base.html' %}

{% block content %}
<!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" style="background-image: url({{ anime_detail.poster.url }});">
                            <div class="comment"><i class="bi bi-chat"></i> 11</div>
                            <div class="view"><i class="bi bi-eye"></i> {{ anime_detail.total_views }}</div>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'anime:add_to_watching' slug=anime_detail.url %}"><button class="btn btn-dark btn-sm" style="width: 95.5px;">Смотрю</button></a>
                        <a href="{% url 'anime:add_to_will_watching' slug=anime_detail.url %}"><button class="btn btn-dark btn-sm" style="width: 115px;">Буду смотреть</button></a>
                        <a href="{% url 'anime:add_to_throw' slug=anime_detail.url %}"><button class="btn btn-dark btn-sm" style="width: 95.5px;">Брошено</button></a>
                        </div>
                        <div class="d-grid gap-2">
                        <a href="{% url 'anime:add_to_viewed' slug=anime_detail.url %}"><button class="btn btn-dark" style="width: 305px;">Просмотрено</button></a>
                            </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>{{ anime_detail.title }}</h3>
                                <span>{{ anime_detail.second_title }}</span>
                            </div>
                                    <form action="{% url 'anime:add_rating' %}" method="post" name="rating">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ anime_detail.id }}" name="anime">
                                        <span class="rating">
                                        {% for k, v in star_form.fields.star.choices %}
                                            <input id="rating{{ v }}" type="radio" name="star" value="{{ k }}">
                                        <label for="rating{{ v }}">{{ k }}</label>
                                        {% endfor %}
                                     </span>
                                    </form>
                            {% if cacl_rating %}
                                <span>Средний рейтинг: {{ cacl_rating }}</span>
                            {% else %}
                            <span>Нету оценок</span>
                            {% endif %}
                            <p>{{ anime_detail.description }}</p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Тип:</span> {{ anime_detail.get_type_display }}</li>
                                            <li><span>Студия:</span> {{ anime_detail.studio }}</li>
                                            <li><span>Дата выхода:</span>{{ anime_detail.year }}</li>
                                            <li><span>Статус:</span> {{ anime_detail.get_status_display }}</li>
                                            <li><span>Жанры:</span> {{ anime_detail.genre.all|join:", " }}</li>
                                            <li><span>Режиссеры:</span> {{ anime_detail.directors.all|join:", " }}</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Rating:</span> 8.5 / 161 times</li>
                                            <li><span>Quality:</span> HD</li>
                                            <li><span>Views:</span> 131,541</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                <a href="{% url 'anime:add_to_favorite' slug=anime_detail.url %}" class="follow-btn"><i class="bi bi-heart"></i> Follow</a>
                                <a href="#" class="watch-btn"><span>Watch Now</span> <i
                                    class="bi bi-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <section class="anime-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="anime__video__player">
                        {% for x in video %}
                        <video
                        id="my-video"
                        class="video-js"
                        controls
                        preload="auto"
                        width="930"
                        height="533"
                        poster="{{ x.thumb.url }}"
                        data-setup="{
                            'controls': true,
                            'autoplay': false,
                            'preload': auto,
                        }"
                        >

                        <source src="{{ x.video.url }}" type="video/mp4">

                        </video>
                        {% endfor %}
                    </div>
                    <div class="anime__details__episodes">
                        <div class="section-title">
                            <h5>List Name</h5>
                        </div>
                        {% for i in video %}
                        <a href="#">{{ i.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="anime__details__review">
                    <div class="section-title">
                        <h5>Комментарии</h5>
                    </div>
                    <div class="anime__review__item">
                        <div class="anime__review__item__pic">
                            <img src="img/anime/review-1.jpg" alt="">
                        </div>
                        <div class="anime__review__item__text">
                            <h6>Chris Curry - <span>1 Hour ago</span></h6>
                            <p>whachikan Just noticed that someone categorized this as belonging to the genre
                                "demons" LOL</p>
                        </div>
                    </div>
                </div>
                <div class="anime__details__form">
                    <div class="section-title">
                        <h5>Оставить комменатрии</h5>
                    </div>
                    <form action="#">
                        <textarea placeholder="Ваш комментарий"></textarea>
                        <button type="submit"><i class="bi bi-send"></i>  Отправить</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                        <div class="anime__details__sidebar">
                            <div class="section-title">
                                <h5>you might like...</h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                            </div>
                        </div>
                    </div>
        </div>
        </div>
    </section>
<style>
/* Checkbox stars */
.rating {
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: 155px;
  height: 30px;
}

.rating > input {
  opacity: 0;
  margin-right: -100%;
}

.rating > label {
  position: relative;
  display: block;
  float: right;
  background: url('/static/img/star-off-big.png');
  background-size: 30px 30px;
}

.rating > label:before {
  display: block;
  opacity: 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url('/static/img/star-on-big.png');
  background-size: 30px 30px;
  transition: opacity 0.2s linear;
}

.rating > label:hover:before,  .rating > label:hover ~ label:before,  .rating:not(:hover) > :checked ~ label:before { opacity: 1; }
/* //Checkbox stars */

</style>
<script>
    // Add star rating
const rating = document.querySelector('form[name=rating]');

rating.addEventListener("change", function (e) {
    // Получаем данные из формы
    let data = new FormData(this);
    fetch(`${this.action}`, {
        method: 'POST',
        body: data
    })
        .then(response => alert("Рейтинг установлен"))
        .catch(error => alert("Ошибка"))
});
</script>
{% endblock content %}