{% extends 'base.html' %}

{% block content %}
 <!-- Product Section Begin -->
<div class="container mt-4" >
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="search"> <i class="fa fa-search"></i>
                <form action="{% url 'anime:search' %}" method="get">
                    <input type="search" class="form-control" placeholder="Поиск аниме" name="q">
                    <button class="btn btn-danger" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!--Trending-->
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Актуальные</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="{% url 'anime:anime_trending' %}" class="primary-btn">Смотреть все<span class="bi bi-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for anime in trending %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" style="background-image: url({{ anime.poster.url }});">
                                    <div class="ep">{{ anime.total_series }} / {{ anime.total_series }}</div>
                                    <div class="comment"><i class="bi bi-chat"></i> {{ anime.total_comments }}</div>
                                    <div class="view"><i class="bi bi-eye"></i> {{ anime.total_views }}</div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        <li>{{ anime.get_type_display }}</li>
                                        <li>{{ anime.year.year }}</li>
                                    </ul>
                                    <h5><a href="{{ anime.get_absolute_url }}">{{ anime.title }}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Popular-->

                <div class="popular__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8" >
                            <div class="section-title">
                                <h4>Популярные</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="{% url 'anime:anime_popular' %}" class="primary-btn">Смотреть все <span class="bi bi-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for anime in popular %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" style="background-image: url({{ anime.poster.url }});">
                                    <div class="ep">{{ anime.total_series }} / {{ anime.total_series }}</div>
                                    <div class="comment"><i class="bi bi-chat"></i> {{ anime.total_comments }}</div>
                                    <div class="view"><i class="bi bi-eye"></i> {{ anime.total_views }}</div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        <li>{{ anime.get_type_display }}</li>
                                        <li>{{ anime.year.year }}</li>
                                    </ul>
                                    <h5><a href="{{ anime.get_absolute_url }}">{{ anime.title }}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!--Recent-->

                <div class="recent__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Недавно добавленные</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="{% url 'anime:anime_recent' %}" class="primary-btn">СМОТРЕТЬ ВСЕ <span class="bi bi-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for anime in recent %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" style="background-image: url({{ anime.poster.url }});">
                                    <div class="ep">{{ anime.total_series }} / {{ anime.total_series }}</div>
                                    <div class="comment"><i class="bi bi-chat"></i> {{ anime.total_comments }}</div>
                                    <div class="view"><i class="bi bi-eye"></i> {{ anime.total_views }}</div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        <li>{{ anime.get_type_display }}</li>
                                        <li>{{ anime.year.year }}</li>
                                    </ul>
                                    <h5><a href="{{ anime.get_absolute_url }}">{{ anime.title }}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>ТОП ПРОСМОТРОВ</h5>
                        </div>
                        <ul class="filter__controls">
                            <li class="active" data-filter="*">День</li>
                            <li data-filter=".week">Неделя</li>
                            <li data-filter=".month">Месяць</li>
                            <li data-filter=".years">Год</li>
                        </ul>
                        <div class="filter__gallery">
                            {% for anim in top_views %}
                            <div class="product__sidebar__view__item set-bg mix day years" style="background-image: url({{ anim.poster.url }});">
                                <div class="ep">{{ anim.total_series }} / {{ anim.total_series }}</div>
                                <div class="view"><i class="bi bi-eye"></i> {{ anim.total_views }}</div>
                                <h5><a href="#">{{ anim.title }}</a></h5>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="product__sidebar__comment">
                        <div class="section-title">
                            <h5>New Comment</h5>
                        </div>
                        {% for comment in last_comment %}
                        <div class="product__sidebar__comment__item">
                            <div class="product__sidebar__comment__item__pic">
                                <img src="{{ comment.poster.url }}" style="width: 90px;" alt="">
                            </div>
                            <div class="product__sidebar__comment__item__text">
                                <ul>
                                    <li>{{ comment.get_type_display }}</li>
                                    <li>{{ comment.year.year }}</li>
                                </ul>
                                <h5><a href="#" >{{ comment.title }}</a></h5>
                                <span><i class="bi bi-eye"></i> {{ comment.total_views }} Просмотров</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</section>
<style>

a:hover {
    color: #ffffff;
   }

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid red
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: red
}
</style>
{% endblock content %}