{% extends 'base.html' %}

{% block content %}
    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" style="background-image: url({{ anime_detail.poster.url }});">
                            {% if user.is_authenticated %}
                                {% if anime_detail.favorite.all %}
                                    <form action="{% url 'anime:add_to_favorite' %}" method="post">
                                        {% csrf_token %}
                                        <div class="favorite"><button class="btn btn-danger"><i class="bi bi-heart"></i></button></div>
                                        <input type="hidden" name="anime_id" value="{{ anime_detail.id }}">
                                    </form>
                                {% else %}
                                    <form action="{% url 'anime:add_to_favorite' %}" method="post">
                                        {% csrf_token %}
                                        <div class="favorite"><button class="btn btn-outline-danger"><i class="bi bi-heart"></i></button></div>
                                        <input type="hidden" name="anime_id" value="{{ anime_detail.id }}">
                                    </form>
                                {% endif %}
                            {% endif %}
                            <div class="comment"><i class="bi bi-chat"></i> {{ anime_detail.comments.count }}</div>
                            <div class="view"><i class="bi bi-eye"></i> {{ anime_detail.views.count }}</div>
                        </div>

                        {% if user.is_authenticated %}
                            {% include 'buttons.html' %}
                        {% endif %}
                    </div>

                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>{{ anime_detail.title }}</h3>
                                <span>{{ anime_detail.second_title }}</span>
                            </div>
                            {% if user.is_authenticated %}
                            <form action="{% url 'anime:add_rating' %}" method="post" name="rating">
                                {% csrf_token %}
                                <input type="hidden" value="{{ anime_detail.id }}" name="anime">
                                <span class="rating">
                                        {% for k, v in star_form.fields.star.choices %}
                                            <input id="rating{{ v }}" type="radio" name="star" value="{{ k }}">
                                            <label for="rating{{ v }}">{{ k }}</label>
                                        {% endfor %}
                                </span>
                            </form>
                            {% endif %}
                            <p class="mt-2">{{ anime_detail.description }}</p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul class="red-link">
                                            <li><span>Тип:</span> {{ anime_detail.get_type_display }}</li>
                                            <li><span>Студия:</span> <a href="{% url 'anime:studio_detail' slug=anime_detail.studio.url %}">{{ anime_detail.studio }}</a></li>
                                            <li><span>Дата выхода:</span> {{ anime_detail.year.year }}</li>
                                            <li><span>Статус:</span> {{ anime_detail.get_status_display }}</li>
                                            <li><span>Жанры:</span> {% for genre in anime_detail.genre.all %}<a href="{% url 'anime:genre_detail' slug=genre.url %}">{{ genre.name }} </a>{% endfor %}</li>
                                            <li><span>Режиссеры:</span> {% for director in anime_detail.directors.all %} <a href="{% url 'anime:directors_detail' slug=director.url  %}">{{ director.name }} </a>  {% endfor %}</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            {% if anime_detail.avg_rating %}
                                                <li><span>Сред. рейтинг:</span>{{ anime_detail.avg_rating }}</li>
                                            {% else %}
                                                <li><span>Рейтинг:</span>Нету оценок</li>
                                            {% endif %}
                                            <li><span>Воз. рейтинг:</span> {{ anime_detail.get_age_rating_display }}</li>
                                            <li><span>Качество:</span> HD</li>
                                            <li><span>Просмотров:</span>{{ anime_detail.views.count }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if anime_detail.anime_shots.all %}
                <section class="anime-details spad">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="anime__details__episodes">
                                    <div class="section-title">
                                        <h5>Кадры</h5>
                                    </div>
                                    {% for image in anime_detail.anime_shots.all %}
                                        <img class="anime-shot" src="{{ image.shot.url }}">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
            {% if anime_detail.related_series.all %}
                <div class="anime__details__episodes">
                    <div class="section-title">
                        <h5>Все серии</h5>
                    </div>
                    {% for vid in anime_detail.related_series.all %}
                        <a href="{{ vid.get_absolute_url }}">{{ vid.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="anime__details__form">
                        {% if user.is_authenticated %}
                            <div class="section-title">
                                <h5>Оставить отзыв</h5>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.text }}
                                <button type="submit"><i class="bi bi-send"></i>Отправить</button>
                            </form>
                        {% else %}
                            <h5 class="red-link text-white">Для добавление отзыва нужно <a href="{% url 'account_login' %}">авторизоваться</a></h5>
                        {% endif %}
                    </div>
                    <div class="anime__details__review mt-5">
                        <div class="section-title">
                            <h5>Отзывы</h5>
                        </div>
                        {% for comment in anime_detail.get_anime_comments %}
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <a href="{% url 'anime:profile_detail' pk=comment.author.profile.pk %}"><img src="{{ comment.author.profile.avatar.url }}" alt="avatar"></a>
                                </div>
                                <div class="anime__review__item__text">
                                    <h6 class="prof-link"><a href="{% url 'anime:profile_detail' pk=comment.author.profile.pk %}">{{ comment.author }}</a> -<span> {{ comment.created_date }}</span></h6>
                                    <p>{{ comment.text }}</p>
                                    {% if comment.author.pk == request.user.pk %}
                                        <form action="{% url 'anime:delete_comment' %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-outline-danger" type="submit">Удалить</button>
                                            <input type="hidden" name="anime_id" value="{{ anime_detail.id }}">
                                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="anime__details__sidebar">
                        <div class="section-title">
                            <h5>Похожие</h5>
                        </div>
                        {% for similar in similar_anime %}
                            <div class="product__sidebar__view__item set-bg" style="background-image: url({{ similar.poster.url }});">
                                <div class="ep">{{ similar.total_series }} / {{ similar.total_series }}</div>
                                <div class="view"><i class="bi bi-eye"></i> {{ similar.views.count }}</div>
                                <h5><a href="{{ similar.get_absolute_url }}">{{ similar.title }}</a></h5>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src='/static/js/rating.js'></script>
{% endblock content %}