{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

<h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

{% block content %}
<!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" style="background-image: url(/static/img/normal-breadcrumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Сброс пароля</h2>
                        <p>Добро пожаловать в AnimeStorage.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->
  <!-- Login Section Begin -->
<section class="login spad">
    <div class="container">
        <div class="login__form">
            <h3>Сброс пароля</h3>
            <p class="pass">Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для сброса пароля.</p>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <div class="input__item">
                    {{ form.email }}
                    <span class="bi bi-envelope"></span>
                </div>
                <button type="submit" class="site-btn" value="{% trans 'Reset My Password' %}">Сбросить</button>
            </form>
        </div>
    </div>
</section>
    <!-- Login Section End -->
<style>
    .pass {
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    margin-bottom: 30px;
    }
</style>
{% endblock content %}