{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" style="background-image: url(/static/img/normal-breadcrumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Регистрация</h2>
                        <p>Добро пожаловать в AnimeStorage.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->
<!-- Signup Section Begin -->
    <section class="signup spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Регистрация</h3>
                        <form id="signup_form" method="post" action="{% url 'account_signup' %}">
                          {% csrf_token %}
                            <div class="input__item">
                              {{ form.username }}
                                <span class="bi bi-person-fill"></span>
                            </div>
                            <div class="input__item">
                              {{ form.email }}
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div class="input__item">
                              {{ form.password1 }}
                                <span class="bi bi-shield-lock"></span>
                            </div>
                            <div class="input__item">
                              {{ form.password2 }}
                                <span class="bi bi-shield-lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Зарегистрироваться</button>
                        </form>
                        <h5>У вас уже есть аккаунт? <a href="{% url 'account_login' %}">Авторизоваться!</a></h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__social__links">
                        <h3>Зайти через:</h3>
                        <ul>
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i> Sign in With Facebook</a>
                            </li>
                            <li><a href="#" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i> Sign in With Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup Section End -->

{% endblock %}
