{% extends 'base.html' %}

{% block content %}
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            {% include 'profile/profile_elements.html' %}
            <div id="status-menu" class="status-menu-container mt-2" >
                <div class="anime text-center">
                    <a href="{% url 'anime:profile_detail' pk=profile.pk %}"><button class="btn btn-outline-danger btn-lg">СМОТРЮ</button></a>
                    <button class="btn btn btn-danger btn-lg">БУДУ СМОТРЕТЬ</button>
                    <a href="{% url 'anime:viewed' pk=profile.pk %}"><button class="btn btn-outline-danger btn-lg">ПРОСМОТРЕНО</button></a>
                    <a href="{% url 'anime:throw' pk=profile.pk %}"><button class="btn btn-outline-danger btn-lg">БРОШЕНО</button></a>
                    <a href="{% url 'anime:favorite' pk=profile.pk %}"><button class="btn btn-outline-danger btn-lg">ЛЮБИМЫЕ</button></a>
                </div>
            </div>
            {% if profile.will_watch.all %}
                <table class="table table table-hover mt-2 table-cus">
                    <thead>
                    <tr>
                        <th scope="col" class="text-white">Постер</th>
                        <th scope="col" class="text-white">Название</th>
                        <th scope="col" class="text-white">Рейтинг</th>
                    </tr>
                    </thead>
                    <tbody class="text-white">
                    {% for will_watch in profile.will_watch.all %}
                        <tr>
                            <td><a href="{% url 'anime:anime_detail' slug=will_watch.anime.url %}"><img src="{{ will_watch.anime.poster.url }}" class="image"></a></td>
                            <td  class="red-link text-white"><a href="{% url 'anime:anime_detail' slug=will_watch.anime.url %}">{{ will_watch.anime.title }}</a></td>
                            <td class="text-white">{% if will_watch.anime.avg_rating %}{{ will_watch.anime.avg_rating }}{% else %}Нету оценок{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="bio-graph-heading mt-2 bio-cus">
                    Ваш список пуст
                </div>
            {% endif %}
        </div>
    </div>
    </div>
    </div>
{% endblock content %}